<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=192.168.1.100;initial catalog=YeHeSluiceDB;user=sa;password=sa"/>
    <add key="TransferTS" value="30"/>
    <add key="ServerUrl" value="http://218.207.77.61/yhweb/Service1.asmx"/>
  </appSettings>
</configuration>