<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="FromConnectionString" value ="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=e:\_\rainwaterf.mdb"/>
    <add key="ToConnectionString" value="server=.;initial catalog=yehesldbv2-3;user=sa;password=sa" />
    <add key="ExecuteTimeSpan" value="00:00:10"/>
  </appSettings>
</configuration>